@using System.Text.Json
@using Microsoft.Extensions.Options
@using Montr.Core

@inject IOptions<AppOptions> Options

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Montr</title>
</head>
<body>
	<div id="root"></div>
<script>
	var APP_OPTIONS = @Html.Raw(JsonSerializer.Serialize(new { Options.Value.AppUrl },
		new JsonSerializerOptions { IgnoreNullValues = true, PropertyNamingPolicy = JsonNamingPolicy.CamelCase }));
</script>
	<script src="/assets/app.bundle.js"></script>
</body>
</html>
