<!DOCTYPE html>

<html>
	<head>
		<title>Montr</title>
	</head>
	<body>
		<div id="root"></div>
		@if (Context.Request.Host.Host == "app.tendr.montr.io")
		{
			<script src="/assets/tendr.app.js"></script>
		}
		else
		{
			<script src="/assets/tendr.js"></script>
		}
	</body>
</html>
