@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.Extensions.Options
@using Montr.Core

@inject IOptionsMonitor<AppOptions> Options

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Montr</title>
</head>
<body>
	<div id="root"></div>
<script>
	var APP_OPTIONS = @Html.Raw(JsonSerializer.Serialize(new { Options.CurrentValue.AppUrl, Options.CurrentValue.CookieDomain, Options.CurrentValue.State },
		new JsonSerializerOptions { IgnoreNullValues = true, PropertyNamingPolicy = JsonNamingPolicy.CamelCase, Converters = { new JsonStringEnumConverter() } }));
</script>
	<script src="/assets/app.bundle.js"></script>
</body>
</html>
