@using Microsoft.Extensions.Options
@using Montr.Core

@inject IOptionsMonitor<AppOptions> Options
@{
	var options = Options.CurrentValue;
}

<!DOCTYPE html>

<html lang="">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta name="application-name" content="Montr"
	      data-baseUrl="@options.AppUrl"
	      data-cookieDomain="@options.CookieDomain"
	      data-appState="@options.State"
	/>
	<meta http-equiv="Content-Security-Policy"
	      content="base-uri 'self';
                   default-src 'self' wss:;
                   img-src data: https:;
                   object-src 'none';
                   script-src 'self';
                   style-src 'unsafe-inline';
                   upgrade-insecure-requests;" />
	<title>Montr</title>
</head>
<body>
	<div id="root"></div>
	<script src="/assets/app.bundle.js"></script>
</body>
</html>
