// @import (css) url("//fonts.googleapis.com/css?family=Open+Sans:400");

.ant-layout.private-layout {
	.ant-menu-vertical .user-menu .ant-menu-submenu-title {
		height: 64px;
	}

	.ant-layout-footer {
		padding: 24px;
	}
}

.ant-layout.public-layout {
	background-color: inherit;

	.logo {
		width: 120px;
		height: 31px;
		background: #eee;
		margin: 16px 24px 16px 0;
		float: left;
	}

	.ant-layout-header {
		background-color: inherit;
	}

	.ant-layout-footer {
		background-color: inherit;
	}
}

.ant-layout {
	.ant-layout-sider {
		/* text-transform: uppercase; */
	}

	.ant-layout-content {
		overflow: initial;
		padding: 16px 24px;
	}
}

.ant-menu {
	.menu-header {
		cursor: default;
	}
}

.ant-alert {
	margin-bottom: 16px;
}

.toolbar {

	margin-bottom: 4px;

	&.toolbar-left {
		float: left;

		.ant-btn, .ant-btn-group, .ant-radio-group, .ant-select {
			margin-right: 4px;
			margin-bottom: 4px;
		}

		.ant-btn-group .ant-btn {
			margin-right: 0;
		}
	}

	&.toolbar-right {
		float: right;

		.ant-btn, .ant-btn-group, .ant-radio-group, .ant-select {
			margin-left: 4px;
			margin-bottom: 4px;
		}

		.ant-btn-group .ant-btn {
			margin-left: 0;
		}
	}

	.ant-btn-group, .ant-radio-group {
		line-height: 1.5;
	}
}

.bg-white {
	background-color: #fff;
}

.single-line-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
