.bg-white {
	background-color: #fff;
}

.single-line-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ant-layout {
	.ant-layout-sider {
		text-transform: uppercase;
	}

	.ant-layout-content {
		overflow: initial;
		padding: 16px 24px;
	}
}

.logo {
	width: 120px;
	height: 31px;
	background: rgba(255,255,255,.2);
	margin: 16px 24px 16px 0;
	float: left;
  }