{
	"presets": [
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-syntax-dynamic-import" /* ,
		[
			"import",
			{
				"libraryName": "antd",
				"libraryDirectory": "es",
				"style": "less"
			}
		] */
	]
}
