{
	"presets": [
		"@babel/preset-react",
		/* [
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		] */
	],
	"plugins": [
		"@babel/plugin-syntax-dynamic-import"
		/* ,
		[
			"import",
			{
				"libraryName": "antd",
				"libraryDirectory": "es",
				"style": "less"
			}
		] */
	]
}
