@using Microsoft.AspNetCore.Authentication
@model object

<!DOCTYPE html>

<html>
	<head>
		<title>Tendr</title>
	</head>
	<body>
		<div id="root"></div>
		@if (Context.Request.Host.Host == "app.tendr.local")
		{
			<script src="./assets/app.js"></script>
		}
		else
		{
			<script src="./assets/public.js"></script>
			<hr />
			<dl>
				@foreach (var claim in User.Claims)
				{
					<dt>@claim.Type</dt>
					<dd>@claim.Value</dd>
				}
				<dt>access token</dt>
				<dd>@await ViewContext.HttpContext.GetTokenAsync("access_token")</dd>

				<dt>refresh token</dt>
				<dd>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</dd>
			</dl>
		}
	</body>
</html>